@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>ASP.NET Oracle Project</h1>
    <p class="lead">
        Simply go to the <a href="/Home/Form">form page</a> to insert data into an Oracle Database.
    </p>
    <p>
        Once you've done that, go to the <a href= "/Home/About">about page</a> to see about the data you've posted.
    </p>
    <hr />
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <h2>Web Service</h2>
        <p>
            Click on the link below to see the webservice.
        </p>
        <p><a class="btn btn-default" href="/WebService.asmx">Learn more &raquo;</a></p>
    </div>
  
    <div class="col-md-6 text-center">
        <h2>Database DDL</h2>
        <p>To view the Database DDL File, look for the file 'ExportedDDL.sql' in the root folder</p>
    </div>
</div>